.page {
    height: 100vh;
    display: none;
    transition: 5s;
}

.page--active {
    display: block;
    width: 100%;
}

.page--active::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    animation: 1s ease-out 0s 1 normal forwards running anim;
}

// .one {
//     background-color: black;
// }
// .two {
//     background-color: red;
// }
// .three {
//     background-color: yellow;
// }
// .four {
//     background-color: violet;
// }

.buttons {
    position: fixed;
    top: 10em;
}

@keyframes anim {
    from {
        //background-color: white;
        opacity: 0;
        width: 0%;
    } to {
        
        background-color: black;
        opacity: 1;
        width: 100%;
    }
}

